<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Rover Photo Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header-image">
        <h1 class="text-center">Mars Rover Photo Gallery</h1>
    </div>
    <br>
    <div class="line"></div> 
    <div class="container">
        <form method="POST" class="mb-4">
            <div class="form-row">
                <div class="col">
                    <input type="number" name="sol" placeholder="Enter Sol" class="form-control" required />
                </div>
                <div class="col">
                    <input type="text" name="camera" placeholder="Enter Camera" class="form-control" required />
                </div>
                <div class="col">
                    <input type="text" name="rover" placeholder="Enter Rover" class="form-control" required />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            {% for photo in photos %}
            <div class="card-container">
                <div class="card">
                    <div class="layers">
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                        <div class="layer"></div>
                    </div>
                    <img src="{{ photo['image_url'] }}" class="rover-image" alt="Mars Rover Image">
                    <h2>{{ photo['rover'] }}</h2>
                    <p>Camera: {{ photo['camera'] }}</p>
                    <p>Date: {{ photo['earth_date'] }}</p>
                </div>
            </div>    
            {% endfor %}
        </div>
    </div>
</body>
</html>
